body {
	margin: 0;
}

.wrapper {
	margin: auto;
	max-width: 900px;
}

.header {
	padding-block-end: 3rem;
}

.search-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

fieldset {
	display: flex;
    flex-direction: column;
    align-items: baseline;
}

.select {
	padding-inline-end: 1rem;
}

input, select {
	border: none;
	border-radius: 5px;
	padding-block-start: 10px;
	padding-block-end: 10px;
	padding-inline-start: 16px;
	padding-inline-start: 16px;
}

h1, 
.header {
	text-align: center;
}

.add-buttton {
	font-size: 18px;
    line-height: 21px;
    background-color: rgb(243, 63, 93);
    color: white;
    border-radius: 5px;
    padding-block-start: 16px;
    padding-block-end: 16px;
    padding-inline-end: 18px;
    padding-inline-start: 18px;
    border: none;
}

.table {
	background-color: #83331d;
	max-width: 100%;
}

b {
	color: rgb(243, 63, 93);
}

.icons {
	color: rgb(243, 231, 63);
}

tr:nth-of-type(2n) {
	background-color: rgb(70, 32, 32);
}

/* table{
	table-layout: fixed;
}
td, th{
	overflow: hidden;
	white-space: nowrap;
	-moz-text-overflow: ellipsis;        
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
} */

thead, 
.header {
	background-color: #9656a1;
}

th {
	font-size: 24px;
}

h1,
thead {
	color: #fffffe;
}

td,
label {
	color: #fff3ec;
}

img {
	width: 100px;
	border-radius: 50%;
}

.add-buttton {
	margin: 24px;
}

.popup {
background: rgba(37, 36, 36, 0.3);
	position: fixed;
	height: 100vh;
	width: 100vw;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	--opacity: 0;
	opacity: var(--opacity);
	padding: 1rem;
}

.popup fieldset {
	display: flex;
	flex-direction: column;
	background: var(--grey);
	padding: 2rem;
	border: 3px solid var(--pink);
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	transition: all 0.2s;
	--scale: 0.3;
	transform: scale(var(--scale));
}

.popup.open {
	--opacity: 1;
	pointer-events: all;
}

.popup.open fieldset,
.delete-confirm {
    --scale: 1;
    background-color: aliceblue;
}

.delete-confirm {
	padding: 2rem;
	border-radius: 5px;
}

td button.edit,
.delete {
    border: none;
    background-color: transparent;
}

.delete, 
.edit img {
    max-width: 50px;
}
