body {
	margin: 0;
	background: #D8EEFE;
}

html {
	font-family: 'Rubik', sans-serif;
	color:  #094067;
}

h1 {
	color: #094067;
	font-size: 64px;
	line-height: 76px;
	text-align: start;
	margin-block-start: 0;
    padding-block-start: 63px;
}

.wrapper {
	padding-inline-end: 16px;
    padding-inline-start: 16px;
	margin: auto;
	max-width: 900px;
}

.header {
	padding-block-end: 3rem;
}


fieldset {
	border: none;
}

.search-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-inline-start: -13px;
}

fieldset {
	display: flex;
    flex-direction: column;
    align-items: baseline;
}

.form-group label {
	padding-block-end: 8px;
    padding-block-start: 16px;
}

.select-by-month {
	padding-inline-end: 7rem;
	font-size: 18px;
    line-height: 21px;
    color: #094067;
}

.lastname-label,
.select {
	padding-block-end: 13px;
}

.filter-input,
.lastname-label {
	font-size: 18px;
    line-height: 21px;
    color: #094067;
}

input, select {
	border: none;
	border-radius: 5px;
	padding-block-start: 10px;
	padding-block-end: 10px;
	padding-inline-start: 16px;
	padding-inline-start: 16px;
}


ul {
	padding-inline-start: 0;
}

.person-name {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: start;
	flex-wrap: wrap;
}

.person-name li {
	padding-inline-end: 5px;
	font-size: 36px;
	line-height: 43px;
	color: #000000;

}

.birthday-lists {
	background-color: #ffffff;
	margin-block-end: 31px;
	border-radius: 5px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	padding-inline-start: 43px;
	align-items: center;
	padding-block-end: 23px;
	padding-block-start: 22px;
	padding-inline-end: 16px;
}

.birthday-lists img {
	max-width: 100px;
	height: 100px;
}

/* .name-birthday {
	margin-inline-start: -143px;
} */

.birthday, 
.leftDay {
	font-size: 24px;
    line-height: 28px;
    color: #5F6C7B;
}

.add-buttton {
	font-size: 18px;
    line-height: 21px;
    background-color: rgb(243, 63, 93);
    color: white;
    border-radius: 5px;
    padding-block-start: 16px;
    padding-block-end: 16px;
    padding-inline-end: 18px;
    padding-inline-start: 18px;
	margin-block-end: 24px;
    margin-block-start: 24px;
    margin-inline-end: 0;
	margin-inline-start: 16px;
    border: none;
}

li {
	list-style: none;
}

.picture {
	border-radius: 5px;
}

b {
	color: #EF4565;
}

.edit {
	border: none;
	background-color: #ffffff;
}

.icons-edit {
	color: #5F6C7B;
	font-size: 32px;
}

.icons-delete {
	color: #EF4565;
	font-size: 32px;
}

.icons-wrapper {
	display: flex;
    flex-direction: row;
    align-items: baseline;
}

@media(min-width: 700px) {
	.buttons-wrapper {
		text-align: end;
		padding-inline-end: 16px;
	}

	.icons-wrapper {
		padding-inline-start: 50%;
	}
}

img {
	width: 100px;
	border-radius: 50%;
}

.popup {
	background: rgba(240, 248, 255, 0.932);
	position: fixed;
	height: 100vh;
	width: 100vw;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: stretch;
	align-items: center;
	pointer-events: none;
	--opacity: 0;
	opacity: var(--opacity);
	padding: 1rem;
}


.popup fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--grey);
    padding-block-start: 2rem;
    padding-block-end: 2rem;
	margin-block-end: 32px;
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	transition: all 0.2s;
	--scale: 0.3;
	transform: scale(var(--scale));
}

.delete-confirm {
	text-align: center;
}

.new-birthday .form-group {
	margin-inline-start: 8px;
}

.new-birthday .flex-row {
	margin-inline-start: -67px;	
}

.new-birthday .flex-row .close-btn {
	padding-inline-end: 14px;
	padding-inline-start: 14px;
}



@media(min-width: 700px) {
	.popup fieldset, 
	.delete-confirm {
		margin-inline-start: 15rem;
		margin-inline-end: 15rem;
	} 
}

.popup.open {
	--opacity: 1;
	pointer-events: all;
}

.popup.open fieldset,
.delete-confirm {
	--scale: 1;
    background-color: #ffffff;
	border: 3px solid var(--pink);
}

.popup.open fieldset h2 {
	margin-inline-start: -7px;
}

#birthdayId,
#addBirthday {
	padding-inline-end: 32px;
}

.delete-confirm {
	padding: 2rem;
	border-radius: 5px;
}

td button.edit,
.delete {
    border: none;
    background-color: transparent;
}

.delete, 
.edit img {
    max-width: 50px;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-inline-start: -48px;
}

.label {
	padding-block-end: 8px;
	padding-block-start: 16px;
}

.form-control {
	background-color: #D8EEFE;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-block-start: 32px;
	padding-inline-start: 32px;
}

.flex-row button {
	margin-inline-start: 32px;
}

.submitbtn,
.submit-btn,
.delete-button {
	font-size: 16px;
    line-height: 21px;
    background-color: rgb(243, 63, 93);
    color: white;
    padding-block-start: 16px;
    padding-block-end: 16px;
	padding-inline-start: 18px;
    padding-inline-end: 18px;
    border: none;
	border-radius: 5px;	
}

.close-btn {
	font-size: 16px;
    line-height: 21px;
    padding-block-start: 16px;
    padding-block-end: 16px;
    padding-inline-end: 36px;
    padding-inline-start: 36px;
    background-color: #ffffff;
    border: 2px solid #5F6C7B;
    color: #5F6C7B;
    box-sizing: border-box;
    border-radius: 5px;
}

.delete-button {
	padding: 16px;
}

.cancel-button {
	padding: 16px;
}